---
interface Props{
    class?:string
    title:string
    subtitle?:string
    href:string
} 

const {title, subtitle, href}=Astro.props;
---
<!-- <article id="" id="tickets_marco" class={`${Astro.props.class} col-span-5 md:col-span-888 reltive p-5 rounded-xl backdrop-blur-md border border-black/10 shadow-inner shadow-white/10 group`}>
        <!-- <h2 class="text-3xl font-semibold text-balance text-white">Tickets</h2>
        <h3 id="tickets_subtitle">Compra tus  entradas aquí</h3> -->
        <!-- <h2 class="text-3xl font-semibold text-balance text-white">{title}</h2>
        {subtitle && <h3>{subtitle}</h3>} -->
    </article> -->
<article id="bento_marco" tickets_marco class={`${Astro.props.class} h- col-span-5 reltive rounded-xl backdrop-blur-md border border-black/10 shadow-inner shadow-white/10 group`}style="margin-top: px;">
    
    <article id="" id="tickets_marco" class={`${Astro.props.class} col-span-5 md:col-span-888 reltive p-5 rounded-xl backdrop-blur-md border border-black/10 shadow-inner bg-slate-800/20 shadow-white/10 group`}>
        <!-- <h2 class="text-3xl font-semibold text-balance text-white">Tickets</h2>
        <h3 id="tickets_subtitle">Compra tus  entradas aquí</h3> -->
        <h2 class="text-3xl font-semibold text-balance text-white">{title}</h2>
        {subtitle && <h3>{subtitle}</h3>}
    </article>
        
    <div class=" absolute z-10 bottom-0 top-0 w-full h-full bg-gradient-to-b from-transparent via-black/20 to-black/80"></div>
    <slot name="bento_img" />

    <div class="absolute w-full h-100 select-none flex flex-col gap-1 p-3 text-lg z-20 justify-end">
        <!-- <h2 class="text-3xl font-semibold text-balance text-white">{title}</h2>
        {subtitle && <h3>{subtitle}</h3>} -->

        <!-- <iframe src="https://venta.enterticket.es/buy/?id=35051" id="etktfrm35051" width="100%" frameBorder="0"></iframe><script type="text/javascript" src="https://d31tcnbxvxtafg.cloudfront.net/js/libraries/buy.js"></script> -->

        <iframe src="https://venta.enterticket.es/buy/?id=35051&theme=light&color=ff00d0" id="etktfrm35051" width="100%" frameBorder="0"></iframe><script type="text/javascript" src="https://d31tcnbxvxtafg.cloudfront.net/js/libraries/buy.js"></script>
        
        <!-- <iframe src="https://venta.enterticket.es/buy/?id=34794" id="etktfrm34794" width="100%" frameBorder="0"></iframe><script type="text/javascript" src="https://d31tcnbxvxtafg.cloudfront.net/js/libraries/buy.js"></script> -->
    
    </div>
    
    
    
    <slot name="bento_content" />
</article>

<style>
    #bento_marco{
        height: 475px;
    }
</style>

<!-- <style>
    @media (min-width: 768px) {
        .md\:col-span-888 {
            grid-column: span 8 / span 8;
            max-height: 100px;
        }
    }
</style> -->

<!-- <style>
    #bento_marco{
        background-color: rgba(17, 0, 255, 0.0025);
    }
    #bento_marco:hover{
        background-color: rgba(17, 0, 255, 0.05);
    }
</style> -->